<?xml version="1.0"?>
<ruleset
		name="The Subscriber Purge"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
	<description>Code standards for The Subscriber Purge plugin.</description>

	<!-- Note: this file is only used for local PHPCS checks; the vip-go-ci bot does not read it.
	To customize the bot's behavior, see https://docs.wpvip.com/how-tos/customize-the-bot/. -->

	<!-- For help in understanding this file: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- For help in using PHPCS: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->
	<!-- For VIP code review items: https://docs.wpvip.com/technical-references/code-review/ -->
	<!-- For VIP PHPCS severity levels: https://docs.wpvip.com/technical-references/vip-code-analysis-bot/phpcs-report/ -->


	<!-- Ignoring Files and Folders:
		https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#ignoring-files-and-folders -->
	<exclude-pattern>./phpcs/</exclude-pattern>
	<exclude-pattern>./tests/</exclude-pattern>
	<exclude-pattern>./coverage-html/</exclude-pattern>
	<exclude-pattern>./var/</exclude-pattern>
	<exclude-pattern>./vendor/</exclude-pattern>
	<exclude-pattern>./tooling/</exclude-pattern>

	<!-- How to scan -->
	<arg value="sp"/> <!-- Show sniff and progress -->
	<arg name="colors"/> <!-- Show results with colors. Disable if working on Windows -->
	<arg name="basepath" value="."/> <!-- Strip the file paths down to the relevant bit -->
	<arg name="parallel" value="8"/> <!-- Enables parallel processing when available for faster results -->
	<arg name="extensions" value="php"/> <!-- Limit to PHP files only -->
	<ini name="memory_limit" value="1G"/> <!-- Increase memory for larger scans -->

	<!-- Rules: Check PHP version compatibility - see
		https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibilityWP"/>
	<!-- For help in understanding this testVersion:
		https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="8.0-"/>

	<!-- Rules: VIP Coding Standards - see
		https://github.com/Automattic/VIP-Coding-Standards -->
	<rule ref="WordPress-VIP-Go">
		<!-- Exclude deprecated JS sniffs -->
		<exclude name="WordPressVIPMinimum.JS.Window"/>
		<exclude name="WordPressVIPMinimum.JS.DangerouslySetInnerHTML"/>
		<exclude name="WordPressVIPMinimum.JS.InnerHTML"/>
		<exclude name="WordPressVIPMinimum.JS.StrippingTags"/>
		<exclude name="WordPressVIPMinimum.JS.StringConcat"/>
		<exclude name="WordPressVIPMinimum.JS.HTMLExecutingFunctions"/>
	</rule>

	<!-- Rules: WordPress Coding Standards - see
		https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
	<rule ref="WordPress-Extra"/> <!-- Includes WordPress-Core -->
	<rule ref="WordPress-Docs"/>
	<!-- For help in understanding this minimum_supported_wp_version:
		https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties#setting-minimum-supported-wp-version-for-all-sniffs-in-one-go-wpcs-0140 -->
	<config name="minimum_supported_wp_version" value="6.5"/>

	<!-- For more information on customizing this file, see https://docs.wpvip.com/technical-references/vip-codebase/phpcs-xml-dist/. -->

	<!-- Add in our custom text domain -->
	<!-- For help in understanding this text_domain property:
	https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties#internationalization-setting-your-text-domain -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="the-subscriber-purge"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="TSP_"/>
				<element value="TheSubscriberPurge"/>
			</property>
		</properties>
	</rule>

	<!-- Set minimum cron interval to 5 minutes -->
	<rule ref="WordPress.WP.CronInterval">
		<properties>
			<property name="min_interval" value="300"/>
		</properties>
	</rule>

	<!-- Reintroduce some whitespace rules WordPressVIPMinimum removes -->
	<rule ref="Squiz.WhiteSpace.SuperfluousWhitespace.EmptyLines">
		<severity>5</severity>
	</rule>
	<rule ref="Squiz.WhiteSpace.SuperfluousWhitespace.EndLine">
		<severity>5</severity>
	</rule>

	<!-- Ignore Squiz.Commenting.FileComment.MissingPackageTag -->
	<rule ref="Squiz.Commenting.FileComment.MissingPackageTag">
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag" />
		<exclude name="Squiz.Commenting.FileComment.Missing" />
	</rule>

	<!-- Ignore Generic.CodeAnalysis.UnusedFunctionParameter.FoundAfterLastUsed -->
	<rule ref="Generic.CodeAnalysis.UnusedFunctionParameter.FoundAfterLastUsed">
		<exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.FoundAfterLastUsed" />
	</rule>

	<!-- Custom Sniffs -->
	<rule ref="./phpcs/VIPServices/ruleset.xml"/>
	<rule ref="VIPServices.Functions.TypeDeclaration">
		<properties>
			<property name="custom_classes" type="array">
				<element value="Example_Custom_Class"/>
			</property>
		</properties>
	</rule>

	<!-- Ignore VIPServices.PHP.StrictTypes for main plugin file -->
	<rule ref="VIPServices.PHP.StrictTypes.MissingStrictTypes">
		<exclude-pattern>the-subscriber-purge.php</exclude-pattern>
	</rule>
</ruleset>
